main{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#main_wrapper h1{
    color: var(--text-dark-color);
    font-size: 2rem;
}

#main_wrapper .container{
    margin: 50px 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
 /*--------------------inforation----------------------*/

.information{
    flex-basis: 60%;
    height: auto;
    margin-bottom: 50px; 
}

.ministre_info_inner{
    box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
    width: 100%;
    height: 582px;
}

.ministre_images{
    position: relative;
    width: 100%;
    height: 445px;
}

.ministre_images img{
    width: 100%;
    height: 100%;
}

.image_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--image_hover_bg);
    opacity: 0;
    transition: opacity 0.5s; 
}

.image_hover:hover{
    opacity: 1;
}

.link{
    transform: translateY(50px);
    transition: transform 0.5s;
}

.link a{
    margin: 0 30px 0 30px;
    font-size: 2.5rem;
    color: var(--white);
}

.image_hover:hover .link{
    transform: translateY(0);
}

.ministre_name_citation{
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: var(--text-dark-color);
}

.ministre_name{
    font-size: 1.3rem; 
    font-weight: bold; 
}

.ministre_citation{
    opacity: 0.8;
    font-family: 'Open Sans';
}

.m_titre{
    color: var(--yellow-color);
}

.m_date, .m_text{
    font-family: 'Open Sans';
}


/*--------------------------------Medie query-------------------------------*/


/*----------------------------------------- min-width: 480px---------------------------------------*/

@media (max-width: 480px) {
    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ministre_images {
        height: 300px;
    }

    .ministre_info_inner {
        height: 480px;
    }

    .ministre_name_citation {
        height: 170px;
    }



}

/*----------------------------------------- min-width: 481---------------------------------------*/


@media (min-width: 481px) and (max-width: 768px) {

    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
}

/*----------------------------------------- min-width: 769---------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){

},