main{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#main_wrapper h1{
    color: var(--text-dark-color);
    font-size: 2rem;
}

#main_wrapper .container{
    margin: 50px 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
 /*--------------------inforation----------------------*/

.information{
    flex-basis: 60%;
    height: auto;
    box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
}

.text_head{
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}

.text_head p{
    font-size: 1.2rem;
    color: var(--text-dark-color);
}

.text_containt{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text_containt img{
    width: 98%;
    height: auto;
    margin: auto;
}

.text_containt .acro{
    width: 98%;
    margin: auto; 
}

.acro .title{
    color: var(--text-dark-color);
}

.acro span{
    color: var(--yellow-color);
}

.acro p{
    color: var(--text-dark-color);
    font-family: 'Open Sans';
}

.content_1{
    height: 840px !important;
    text-align: left !important;
    box-shadow: 2px 2px 5px var(--box-shadow-color), -2px 2px 5px var(--box-shadow-color) !important;
}

.nouvelles{
    box-shadow: none !important;
}

/*--------------------------------Medie query-------------------------------*/


/*----------------------------------------- min-width: 480px---------------------------------------*/

@media (max-width: 480px) {
    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nouvelles{
        margin-top: 20px; 
    }

    .content_1{
        height: 463px;
    }

    .content{
        height: 1360px;
    }
}

/*----------------------------------------- min-width: 481---------------------------------------*/


@media (min-width: 481px) and (max-width: 768px) {

    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nouvelles{
        margin-top: 20px; 
    }

    .content_1{
        height: 600px;
    }
    .content{
        height: 1820px;
    }
}

/*----------------------------------------- min-width: 769---------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){

}