main{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#main_wrapper h1{
    color: var(--text-dark-color);
    font-size: 2rem;
}

#main_wrapper .container{
    margin: 50px 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
 /*--------------------inforation----------------------*/

.information{
    flex-basis: 60%;
    height: 300px;
    box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
}

.text_head{
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}

.text_head i{
    color: var(--text-dark-color); 
    font-size: 2.5rem;
}

.text_head p{
    font-size: 1.2rem;
    color: var(--text-dark-color);
}

.text_containt{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text_containt p{
    width: 96%;
    font-size: 0.9rem;
    font-family: 'Open sans';
    color: var(--text-dark-color);
    margin-bottom: 5px; 
    margin-left: 10px;
}

.text_containt .yellow{
    color: var(--yellow-color);
}
/*--------------------------------Medie query-------------------------------*/


/*----------------------------------------- min-width: 480px---------------------------------------*/

@media (max-width: 480px) {
    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nouvelles{
        margin-top: 20px; 
    }

    .content_1, .content_2, .content_3{
        height: 463px;
    }

    .content{
        height: 1360px;
    }
}

/*----------------------------------------- min-width: 481---------------------------------------*/


@media (min-width: 481px) and (max-width: 768px) {

    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nouvelles{
        margin-top: 20px; 
    }

    .content_1, .content_2, .content_3{
        height: 600px;
    }
    .content{
        height: 1820px;
    }
}

/*----------------------------------------- min-width: 769---------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){

}
