#header_wrapper{
	width: 100%;
	height: 120px;
	position: sticky;
	top: 0;
	background-color: var(--white);
	box-shadow: 5px 5px 10px var(--box-shadow-color);
	z-index: 1000; 
}

/*-------------------------------------------------------------*/

.container{
	display: flex;
	flex-direction: column;
	width: 92%;
	height: 100%;
	margin: auto;
}

/*--------------------------------------------------------------------*/


.logo{
	display: flex;
	flex-direction: row; 
	width: 100%;
	min-height: 90px;
	justify-content: space-between; 
	align-items: center;
}

.logo_mesupres_mada img{
	width: 80px;
	height: 60px;
}

.logo_rep_mada img{
	width: 140px;
	height: 70px;
}

.logo_rep_mada a{
	text-decoration: none;
}

.menu .actived{
	color: var(--yellow-color);
}


/*-----------------------search---------------------------*/

.search{
	position: relative;
	width: 30%;
	height: 40px;
	border-radius: 40px;
	box-shadow: 2px 2px 5px var(--box-shadow-color), -2px 2px 5px var(--box-shadow-color);
}

.active_search{
	width: 25%;
}

.icon-search{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.icon-search i{
	font-size: 1.2rem;
	color: var(--text-dark-color);
	cursor: pointer;
}

.icon-search i:hover{
	color: var(--yellow-color);
}

.search-input{
	position: relative;
	width: 80%;
	height: 40px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.search-input input{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none; 
	font-size: 1.5rem; 
	color: var(--text-dark-color);
}

.search-input ::placeholder{
	font-size: 1.3rem; 
	opacity: 0.7;
	font-family: "Open Sans"; 
}

/*-----------------------------------------------------------------------------*/

#nav{
	width: 100%;
	min-height: 30px;
	font-size: 0.8rem;
	background-color: var(--white);
}

#nav a:hover{
	color: var(--yellow-color);
}

.menu{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; 
}

.menu li{
	list-style: none; 
}

.menu a{
	text-decoration: none;
	color: var(--text-dark-color);
}


/*---------------------------------------------------------------*/
.menu_btn{
	display: flex;
	flex-direction: row;
	align-items: center;
}


.menu_btn i{
	display: none;
	margin-left: 30px; 
	font-size: 60px;
	color: var(--text-dark-color);
	cursor: pointer;
}


/*----------------------------------------- min-width: 480px---------------------------------------*/

@media (max-width: 480px) {
	#nav{
		width: 90%;
	}

	.search{
		display: none;
	}
}

/*----------------------------------------- min-width: 481---------------------------------------*/


@media (min-width: 481px) and (max-width: 768px) {
	#nav{
		width: 80%;
	}

	.search{
		display: none;
	}
}

/*----------------------------------------- min-width: 769---------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){
	#nav{
		width: 50%;
	}

	.search-input{
		width: 75%;
	}
}


/*----------------------------------------------------------------------------------------*/

@media (max-width: 1024px){
	#header_wrapper{
		width: 100%; 
		height: 90px;
	}

	#nav{
		display: none;
		position: absolute;
		right: -100%; 
		top: 90px;
		height: calc(100vh - 90px);
	}

	nav.check{
		display: block !important;
		transform-origin: top center; 
		animation: slide 0.5s ease forwards;  
	}

	@keyframes slide {
		0%{
			right: -100%;
		}
		10%{
			right: -90%;
		}
		20%{
			right: -80%;
		}
		30%{
			right: -70%;
		}
		40%{
			right: -60%;
		}
		50%{
			right: -50%;
		}
		60%{
			right: -40%;
		}
		70%{
			right: -30%;
		}
		80%{
			right: -20%;
		}
		90%{
			right: -10%;
		}
		100%{
			right: 0%;
		}
	}

	.menu{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;   
		align-items: start; 
		box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
	}

	.menu li{
		list-style: none; 
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--text-separtor);
	}

	.menu li a{
		margin-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}


	.menu li > ul{
		display: none;
		position: static;
		background-color: var(--light);
		margin-top: 10px;  
		box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
	}

	.menu li ul li a{
		margin-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 0;
	}

	.menu li:hover > ul{
		display: block;
		perspective: 1000px;
		transform-origin: top center; 
		opacity: 0; 
		animation: drop 0.5s ease forwards; 
	}

	@keyframes drop {
		0%{
			opacity: 0;
			transform: rotateX(-90deg);
		}
		50%{
			transform: rotateX(20deg);
		}
		100%{
			opacity: 1;
			transform: rotateX(0deg);
		}
	}

	.menu_btn i{
		display: block;
	}
}

/*----------------------------------------- min-width: 1024---------------------------------------*/

@media (min-width: 1024px){
	.menu li > ul{
		display: none;
		position: absolute; 
		top: 125px;
		background-color: var(--white);
		margin-left: -15px;
		padding: 0px 15px 15px 0px;
		box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
		border-bottom: 5px solid var(--yellow-color);
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px; 
	}

	.menu li:hover > ul{
		display: block;
		perspective: 1000px;
		transform-origin: top center; 
		opacity: 0; 
		animation: drop 250ms ease-in-out forwards; 
	}

	@keyframes drop {
		0%{
			opacity: 0;
			transform: rotateX(-90deg);
		}
		50%{
			transform: rotateX(20deg);
		}
		100%{
			opacity: 1;
			transform: rotateX(0deg);
		}
	}

	.menu li ul li{
		padding: 1px 0px 1px 15px;
	}

	.menu li ul li:first-child{
		margin-top: 5px; 
	}

	.menu li ul li a{
		padding-top: 15px; 
		padding-bottom: 6px; 
	}
}