main{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#main_wrapper h1{
    color: var(--text-dark-color);
    font-size: 2rem;
}

#main_wrapper .container{
    margin: 50px 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
 /*--------------------inforation----------------------*/

.information{
    flex-basis: 60%;
    height: auto;
}

.text_head{
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}

.text_head img{
    width: 70px;
    height: 50px;
    margin-right: 20px;  
}

.text_head p{
    font-size: 1.2rem;
    color: var(--text-dark-color);
}

.text_containt{
    margin-top: 50px; 
}

.next{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around; 
}

.next a{
    text-decoration: none;
    color: var(--text-dark-color);
}

.next .num a{
    font-size: 2rem;
    margin: 0 10px;
}

.next i{
    font-size: 5rem; 
}

.next i:hover{
    transform: scale(1.2);
}

audio::-webkit-media-controls-panel {
  background-color: var(--text-dark-color);
}
/*--------------------------------Medie query-------------------------------*/


/*----------------------------------------- min-width: 480px---------------------------------------*/

@media (max-width: 480px) {
    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nouvelles{
        margin-top: 20px; 
    }

    .content_1, .content_2, .content_3{
        height: 463px;
    }

    .content{
        height: 1360px;
    }
}

/*----------------------------------------- min-width: 481---------------------------------------*/


@media (min-width: 481px) and (max-width: 768px) {

    #main_wrapper .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nouvelles{
        margin-top: 20px; 
    }

    .content_1, .content_2, .content_3{
        height: 600px;
    }
    .content{
        height: 1820px;
    }
}

/*----------------------------------------- min-width: 769---------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){

}