#main_wrapper{
    text-align: center;
    margin-top: 20px; 
}

#main_wrapper h1{
    color: var(--text-dark-color);
    font-size: 2rem;
}

/*----------info---------*/

.info{
    margin: 20px 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

/*---------slide_inner-----------*/

.slide_inner{
    flex-basis: 48%;
}

.slide_images{
    width: 100%;
    height: 400px;
    position: relative;
    box-shadow: 5px 5px 10px var(--box-shadow-color), -5px 5px 10px var(--box-shadow-color);
}

.slide_images img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
}

.slide_images img.active_img{
    opacity: 1;
}

.next_btn, .preview_btn{
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; 
}

.next_btn:hover, .preview_btn:hover{
    font-size: 3.5rem; 
}

.next_btn{
    right: 1rem;
    color: var(--green-drapeau-mg);
}

.preview_btn{
    left: 1rem;
    color: var(--red-drapeau-mg);
}


.info_text{
    position: absolute;
    width: 100%;
    height: 80px;
    top: 80%;
    background-color: var(--bg_slide_text); 
    font-size: 1rem; 
    cursor: pointer;
}

.info_text a{
    text-decoration: none;
    color: var(--text-dark-color);
}

.info_text div{
    position: absolute;
    width: 95%;
    height: 100%;
    opacity: 0;
    margin: auto;
    text-align: justify;
    top: 2%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    overflow: hidden;
    transition: opacity 1.1s ease-in-out;
}

.info_text .date{
    display: block;
    color: var(--red-drapeau-mg);
}

.info_text div.active_text{
    opacity: 1;
}



/*----------------------------------------- min-width: 480px---------------------------------------*/

@media (max-width: 480px) {
    .info{
        flex-direction: column;
        justify-content: space-between; 
    }

    .nouvelles{
        margin-top: 40px; 
    }

    .content_1, .content_2, .content_3{
        height: 463px !important;
    }

    .content{
        height: 1360px !important;
    }

}

/*----------------------------------------- min-width: 481---------------------------------------*/


@media (min-width: 481px) and (max-width: 768px) {
    /*----------info---------*/

    .info{
        flex-direction: column;
        justify-content: space-between; 
    }

    .nouvelles{
        margin-top: 40px; 
    }

    .content_1, .content_2, .content_3{
        height: 600px !important;
    }
    .content{
        height: 1820px !important;
    }

}

/*----------------------------------------- min-width: 769---------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){
    .ministre_info{
        flex-basis: 60%;
    }
}